* {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clr {
    clear: both;
}

input,
textarea,
select {
    border: 0px none;
    background: none;
    outline: none;
    font-size: 14px;
    color: #767676;
    font-family: 'canada-type-gibson';
}

img {
    outline: none;
    max-width: 100%;
    height: auto;
    border: 0px none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-weight: normal;
}

input[type='submit'] {
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer
}

button {
    border-radius: 0px;
    border: 0px none;
    outline: none;
    cursor: pointer
}

textarea {
    resize: none;
    overflow: auto;
}

 :focus {
    outline: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

.clearfix {
    display: block;
    zoom: 1;
}

em {
    font-style: normal;
}

body {
    width: 100%;
    font-size: 14px;
    font-family: 'canada-type-gibson';
    transition: all 0.4s ease-in-out;
}


/* === main css start here ==== */

.site_mian {
    position: relative;
}


/* === header css === */

header {
    width: 100%;
    padding: 0px 40px 0px 0px;
    background: #fff;
    height: 110px;
    z-index: 9;
    position: relative;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site_logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.for_text h2 {
    padding-left: 26px;
    color: #EC3A33;
    margin-bottom: 0;
    line-height: 32px;
    font-size: 30px;
    letter-spacing: 0.81px;
    font-weight: 700;
}

.links_side {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    align-items: center;
}

.header_links a {
    font-size: 18px;
    font-weight: 600;
    color: #EC292A;
    margin-right: 68px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.header_links a:hover {
    color: #B8B8B8;
}

.links_side button {
    width: 205px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #ec292a;
    border: 1px solid #ec292a;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.links_side button:hover {
    color: #fff;
    background: #B8B8B8;
    border: 1px solid #B8B8B8;
}

.mobile_menu,
#closeMenu {
    display: none;
}


/* === banner css === */

.voltage_main {
    background: url("..//images/Home-team.png"), no-repeat;
    background-size: cover;
    position: relative;
}

.voltage_main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
}

.banner_main {
    z-index: 9;
    position: relative;
    padding-top: 375px;
    padding-bottom: 150px;
}

.site_container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.banner_inner {
    text-align: center;
}

.banner_inner h1 {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.75px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.banner_inner p {
    font-size: 20px;
    color: #fff;
    line-height: 32px;
    font-weight: 100;
    max-width: 800px;
    margin: 0 auto 70px auto;
}

.banner_inner a {
    display: flex;
    width: 180px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    letter-spacing: 0.9px;
    font-size: 18px;
    text-transform: uppercase;
    margin: auto;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.banner_inner a:hover {
    background: #EC292A;
    border: 1px solid #EC292A;
}


/* === member css === */

.members_main {
    padding: 100px 0px;
}

.members_main>h2 {
    color: #EC3A33;
    font-size: 34px;
    letter-spacing: 0.53px;
    text-align: center;
    font-weight: 600;
}

.membership_steps {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin: 60px auto 100px auto;
}

.step_details {
    width: 235px;
    text-align: center;
}

.step_details img {
    width: 128px;
    height: 128px;
    margin: auto;
}

.step_details h3 {
    margin: 40px 0px 20px 0px;
    color: #EC3A33;
    font-size: 18px;
    letter-spacing: 0.4px;
}

.step_details p {
    letter-spacing: -0.2px;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    color: #000;
}

.members_main a {
    width: 205px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #EC292A;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background: #EC292A;
    margin: auto;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.members_main a:hover {
    background: #B8B8B8;
    border: 1px solid #B8B8B8;
}


/* === css for model === */

.log_popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    z-index: 999;
}

.close_popup {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    margin: 16px 16px 0px auto;
}

.close_popup img {
    filter: sepia(1);
}

.close_popup img:hover {
    filter: none;
}

.log_popup {
    display: none;
}

.popup_inner {
    width: 800px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs-nav {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    margin: 40px 0px 0px 0px;
    height: 80px;
}

.tabs-nav .tab-active a {
    background: #EC292A;
    color: #fff;
    cursor: default;
}

.tabs-nav a {
    background: #B8B8B8;
    border: none;
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    height: 100%;
    line-height: 42px;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    align-items: center;
    text-decoration: none;
}

.tabs-nav li {
    width: 50%;
    height: 100%;
}

.form_content h2 {
    font-size: 34px;
    color: #EC3A33;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.form_content input {
    width: 80%;
    display: block;
    margin: 50px auto;
    border-bottom: 1px solid #b8b8b8;
    color: #B8B8B8;
}

.form_content a {
    color: #b8b8b8;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: 100;
    text-transform: uppercase;
}


/* css for mobile layout */

@media (min-width:1600px) {
    .banner_main {
        padding-top: 305px;
    }
}

@media (min-width:1200px) {
    .banner_main {
        padding-top: 285px;
    }
}

@media (max-width:575px) {
    .mobile_menu {
        display: block;
        cursor: pointer;
        top: 12px;
        right: 16px;
        position: absolute;
        width: 26px;
        height: 26px;
    }
    header {
        padding: 0;
        height: 85px;
    }
    .header_inner {
        flex-wrap: wrap;
    }
    .site_logo {
        width: 100%;
    }
    .for_logo {
        height: 50px;
    }
    .for_logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .for_text h2 {
        font-size: 20px;
        letter-spacing: 0.58px;
        padding-left: 36px;
    }
    .links_side {
        width: 100%;
        padding: 0;
    }
    .header_links {
        background: #fff;
        width: 300px;
        top: 0;
        height: 100vh;
        position: fixed;
        left: -320px;
        box-shadow: 0px 0px 6px;
        transition: all 0.5s ease-in-out;
    }
    .links_side button {
        width: 100%;
        height: 35px;
        font-size: 12px;
        font-weight: 500;
    }
    .header_links a {
        width: 100%;
        margin: 0px;
        display: block;
        padding: 10px 12px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .header_links img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin: 20px 20px 30px auto;
    }
    #closeMenu {
        display: block;
    }
    .voltage_main {
        background-position: left;
    }
    .banner_main {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .site_container {
        padding: 0px 15px;
    }
    .banner_inner h1 {
        font-size: 32px;
        line-height: 32px;
        width: 200px;
        margin: 0px auto 20px auto;
    }
    .banner_inner p {
        font-size: 13px;
        letter-spacing: -0.1px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .banner_inner a {
        width: 166px;
        height: 35px;
        font-size: 13px;
    }
    .members_main {
        padding: 30px 0px;
    }
    .members_main>h2 {
        font-size: 20px;
    }
    .membership_steps {
        flex-wrap: wrap;
        margin: 30px auto;
    }
    .step_details {
        width: 100%;
        text-align: center;
    }
    .step_details img {
        width: 64px;
        height: 64px;
    }
    .step_details h3 {
        margin: 20px 0px 10px 0px;
        font-size: 16px;
        letter-spacing: 0.4px;
    }
    .step_details p {
        font-size: 13px;
        line-height: 20px;
    }
    .members_main a {
        width: 165px;
        height: 35px;
        letter-spacing: 0.7px;
        font-size: 13px;
    }
    .header_links.show_links {
        left: 0px;
    }
    .tabs-nav {
        height: 60px;
    }
    .form_content h2 {
        font-size: 20px;
    }
    .popup_inner {
        width: 100%;
        background: #fff;
        position: absolute;
        top: 50px;
        left: 0;
        transform: inherit;
    }
    .tabs-nav a {
        font-size: 16px;
    }
}